<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
    </head>
    <body>
        <div class="header">
            <div class="my-container">
                <ul class="menu">
                    <li><a href="/"><strong>HOME</strong></a></li>
                    <li><a href="/contact"><strong>CONTACT</strong></a></li>
                </ul>
                <section class="name">
                    <a href="/">JeyDotC</a>
                </section>
            </div>
        </div>
        <div class="hero" style="background-image: url({{ page.imagem }});"></div>

        {{ content }}

        {% include footer.html %}
    </body>
</html>
