---
layout: default
image: /img/blog-background.jpg
---
<div class="my-container">
    <div class="post ">
        <section class="my-container content" >
            <h1>{{ page.title }}</h1>
            <div class="when">
                {{ page.date | date_to_long_string }}
            </div>
            {{ content }}		
        </section>
        <nav class="posts-navigation">
            {% if page.next %}
                <a href="{{ page.next.url }}" class="next-post-link">Next post</a> 
            {% endif %}
            
            {% if page.previous %}
                <a href="{{ page.previous.url }}" class="previous-post-link">Previous post</a>
            {% endif %}
        </nav>
    </div>	
    {% include disqus.html %}
</div>
